@import 'src/assets/styles/screenBreakponts';
@import 'src/assets/styles/mixins';

.emptyList {
  &Icon {
    display: block;
    margin: 217px auto 30px;
  }

  &Text {
    text-align: center;
    color: var(--col-greyish);
    font-size: 24px;
    margin-bottom: 145px;
  }

  &AddButton {
    margin: 0 auto;
    display: block;
    --hover-color: var(--col-white-two);
  }
}

.jogList {
  &Item {
    @include flex(row, flex-end, stretch);
    height: 187px;
    margin: 0 auto;
    padding: 48px 66px;
    position: relative;

    * {
      font-size: 14px;
    }

    svg {
      flex: 0 0 87px;
      margin-right: 46px;
    }

    & > *:not(:first-child) {
      flex: 0 0 50%;
      @include flex(column, space-between, stretch);
    }

    .key {
      font-weight: bold;
    }

    .value {
      color: var(--col-greyish);
    }

    &:after {
      content: '';
      background: var(--col-white-three);
      height: 2px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

@media screen and (min-width: $screen-small) {
  .emptyList {
    &Icon {
      margin: 240px auto 47px;
    }

    &Text {
      margin-bottom: 141px;
    }
  }

  .jogList {
    &Item {
      height: 100%;
      margin-top: 50px;
      padding: 0;

      & + .jogListItem {
        margin-top: 78px;
      }

      &:after {
        content: none;
      }

      &:last-child {
        margin-bottom: 50px;
      }
    }
  }
}
