.textField {
  display: inline-block;

  &.multiline {
  }

  &.focused {
    .inputWrapper {
      --col-outline: var(--col-greyish);
    }
  }

  &.invalid {
    .inputWrapper {
      --col-outline: red;
    }
  }

  .label {
    display: block;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 7px;
  }

  .requiredMark {
    color: red;
  }

  .input {
    align-self: stretch;
    padding: 10px;
    font-size: 14px;
    background: none;
    flex: 1 1 auto;
    resize: none;
    background: var(--col-white-two);
    border: solid 1px var(--col-outline);
    border-radius: 11px;

    &:focus {
      outline: none;
    }
  }
}

.inputWrapper {
  --col-outline: var(--col-greyish);
  display: flex;
  align-items: flex-end;
  min-height: 31px;
}
